---
import Layout from "@/layouts/Layout.astro";
import Navbar from "@/components/sections/Navbar.astro";
import Hero from "@/components/sections/Hero.astro";
import ChooseDocs from "@/components/sections/ChooseDocs.astro";
import Community from "@/components/sections/Community.astro";
import FooterStatus from "@/components/sections/FooterStatus.astro";
---

<Layout title="SteelMC">
  <Navbar />
  <Hero
    pillText="Vẫn đang được cook"
    heroTitle="Steel"
    heroTitleHighlight="MC"
    subtitle="Khi Minecraft được thật sự code đúng. Được viết bằng Rust, tối ưu đa luồng. Chúng tôi hướng tới độ chính xác với vanilla, hiệu năng và khả năng tùy biến."
    mainCtaText="Tham gia với chúng tôi!"
    secondCtaText="Tài liệu cho server"
  />
  <main
    class="container mx-4 w-auto lg:mx-auto max-w-280 px-4 mt-16 lg:-mt-12 text-white relative z-10"
  >
    <ChooseDocs
      sectionLabel="CHỌN TÀI LIỆU CỦA BẠN !"
      sectionTitle="Hey, muốn làm gì?"
      sectionDescription="Steel được thiết kế kĩ lưỡng cho mọi người. Dev, admin? Không quan trọng bạn muốn làm gì, chúng tôi có tài liệu cho bạn!"
      adminHref="./getting-started/installation/"
      adminImage="/admin.png"
      adminImageAlt="Tài liệu admin"
      adminLabel="Admin"
      devHref="./development/start-contributing/"
      devImage="/contributor.png"
      devImageAlt="Tài liệu developer"
      devLabel="Developer/Contributor"
    />
    <Community
      heading="Quan tâm?"
      headingHighlight="Tham gia với chúng tôi!"
      descriptionBold1="Steel là nơi dành cho tất cả mọi người"
      descriptionMiddle=" để code, chat và zui zẻ. Từ những developer tài năng "
      descriptionBold2="đến những thk yappper ồn nhất, mọi người đều được chào đón!"
      descriptionAfter=" Chúng tôi chỉ là một đám người đang cố gắng làm một server Minecraft siêu đỉnh."
    />
    <FooterStatus
      prefix="Steel"
      rotatingTexts={[
        "đang được phát triển",
        "chưa sẵn sàng",
        "vẫn bất biến giữa đời vạn biến",
        "thật ra là hợp kim á 🤓☝️",
        "made with love <3",
        "nhanh vai cut",
        "đang rỉ sét (kiểu là rust á)",
        "đang cook!",
        "là mấy thk ngáo hype 4lve",
        "rất cảm ơn các contributor",
        "nhanh hơn C2ME",
      ]}
    />
  </main>
</Layout>
